In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime

In [3]:
df = pd.read_csv("climate_action_data.csv")
df.head()

,Sensor_ID,Date,Soil_Moisture(%),Soil_pH,Temperature(C),Humidity(%),Crop_Type,Fertilizer_Recommended(kg/ha),Irrigation_Recommended(mm),Drone_Image_ID
0,SEN-1000,2025-01-01,36.22,6.98,21.3,50.4,Tomatoes,67.6,26.6,IMG-2000
1,SEN-1001,2025-01-02,76.55,5.03,23.5,34.3,Wheat,130.4,8.3,IMG-2001
2,SEN-1002,2025-01-03,61.24,6.52,21.9,54.6,Tomatoes,36.0,29.4,IMG-2002
3,SEN-1003,2025-01-04,51.91,6.62,24.0,48.7,Maize,85.8,19.6,IMG-2003
4,SEN-1004,2025-01-05,20.92,5.98,19.2,70.6,Wheat,75.6,29.9,IMG-2004

In [4]:
print(df.isnull().sum())

Sensor_ID                        0
Date                             4
Soil_Moisture(%)                 0
Soil_pH                          0
Temperature(C)                   0
Humidity(%)                      0
Crop_Type                        4
Fertilizer_Recommended(kg/ha)    0
Irrigation_Recommended(mm)       0
Drone_Image_ID                   0
dtype: int64

In [5]:
df['Crop_Type'] = df['Crop_Type'].fillna(df['Crop_Type'].mode()[0])

In [6]:
df['Date'] = df['Date'].fillna(method='ffill')

C:\Users\Katex\AppData\Local\Temp\ipykernel_22372\1291857192.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Date'] = df['Date'].fillna(method='ffill')

In [7]:
print(df['Date'].head())
print(df['Date'].dtype)

0    2025-01-01
1    2025-01-02
2    2025-01-03
3    2025-01-04
4    2025-01-05
Name: Date, dtype: object
object

In [8]:
print(df.isnull().sum())

Sensor_ID                        0
Date                             0
Soil_Moisture(%)                 0
Soil_pH                          0
Temperature(C)                   0
Humidity(%)                      0
Crop_Type                        0
Fertilizer_Recommended(kg/ha)    0
Irrigation_Recommended(mm)       0
Drone_Image_ID                   0
dtype: int64

In [9]:
(df == 'error').any()
(df == 'error').sum()

Sensor_ID                        0
Date                             0
Soil_Moisture(%)                 5
Soil_pH                          5
Temperature(C)                   5
Humidity(%)                      5
Crop_Type                        0
Fertilizer_Recommended(kg/ha)    5
Irrigation_Recommended(mm)       5
Drone_Image_ID                   0
dtype: int64

In [10]:
print(df.duplicated())
print(df[df.duplicated()])

0      False
1      False
2      False
3      False
4      False
       ...
908     True
909     True
910     True
911     True
912     True
Length: 913, dtype: bool
    Sensor_ID        Date Soil_Moisture(%) Soil_pH Temperature(C) Humidity(%)  \
800  SEN-1008  2025-01-09            52.08    6.08           22.0        89.3
802  SEN-1175  2025-06-25            22.21    5.42           23.4        68.4
803  SEN-1735  2027-01-06             71.4    4.93           24.5        67.0
804  SEN-1242  2025-08-31            74.04    5.62           25.5        76.9
805  SEN-1764  2027-02-04            12.35    7.38           27.8        33.4
..        ...         ...              ...     ...            ...         ...
908  SEN-1090  2025-04-01            18.37    7.03           21.0        47.1
909  SEN-1201  2025-07-21            15.89     6.4           30.5        33.3
910  SEN-1309  2025-11-06            28.96    5.04           20.5        47.6
911  SEN-1339  2025-12-06            16.85    6.57           19.3        34.5
912  SEN-1050  2025-02-20            77.87    4.73           18.6        46.2

    Crop_Type Fertilizer_Recommended(kg/ha) Irrigation_Recommended(mm)  \
800  Tomatoes                          67.8                       11.4
802     Beans                          86.5                       18.3
803     Wheat                          95.5                        6.2
804     Wheat                          66.9                       12.9
805   Lettuce                         107.6                       10.5
..        ...                           ...                        ...
908     Maize                          94.2                        8.0
909  Tomatoes                         108.3                       14.5
910  Tomatoes                          81.1                       12.7
911     Beans                          48.5                       12.7
912     Beans                         136.5                       23.1

    Drone_Image_ID
800       IMG-2008
802       IMG-2175
803       IMG-2735
804       IMG-2242
805       IMG-2764
..             ...
908       IMG-2090
909       IMG-2201
910       IMG-2309
911       IMG-2339
912       IMG-2050

[111 rows x 10 columns]

In [12]:
df = df.drop_duplicates()

In [13]:
df.replace('error', np.nan, inplace=True)